<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="<%= data.host %>/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="<%= data.host %>/libs/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="<%= data.host %>/libs/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- custom -->
    <link rel="stylesheet" href="<%= data.host %>stylesheets/direct_chat.css">
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <% include ./partials/header %>
      </header>
      <aside class="main-sidebar">
        <% include ./partials/side_menu_management %>
      </aside>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Recording Management
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/management/recording_management">Recording</a></li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">All Recording</h3>
                </div>
                <div class="schedule-option">
                    <a href="#" class="btn btn-block btn-primary" id="add_video" style="width:100px; margin-left: 10px">Add Recording</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="users" class="table table-bordered table-striped">
                    <thead>
                    <tr>                    
                      <th>Room Name</th>
                      <th>User upload</th>
                      <th>Video Name</th>
                      <th>Time upload</th>
                      <th>Link</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <% for(var i = 0; i < data.item.length; i++) { %>
                        <tr>
                          <td><%= data.item[i].room_name %></td>
                          <td><%= data.item[i].user_name %></td>
                          <td><%= data.item[i].video_name %></td>                     
                          <td><%= data.item[i].createdAt %></td>
                          <td><%= data.item[i].link %></td>
                          <th>
                            <button type="button" class="btn btn-block btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                          </th>
                        </tr>
                      <% } %>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Room Name</th>
                      <th>User upload</th>
                      <th>Video Name</th>
                      <th>Time upload</th>
                      <th>Link</th>
                      <th></th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>

      </div>
      <footer class="main-footer">
      </footer>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="addVideo" role="dialog">
      <div class="modal-dialog modal-xsa">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Video</h4>
          </div>
          <div class="modal-body">
            <form name="form" action="/management/recording_management" method="post">
             <div class="form-group">
                <label for="text">Room Name:</label>
                <input type="text" class="form-control" name="room_name">
              </div>
              <div class="form-group">
                <label for="text">User Upload:</label>
                <input type="text" class="form-control" name="user_name">
              </div>
              <div class="form-group">
                <label for="text">Video Name:</label>
                <input type="text" class="form-control" name="video_name">
              </div>
              <div class="form-group">
                <label for="text">Video Link:</label>
                <input type="text" class="form-control" name="link">
              </div>
              <button type="submit" class="btn btn-default">Add</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <script src="<%= data.host %>/javascripts/config.js"></script>
    <!-- jQuery 2.2.3 -->
    <script src="<%= data.host %>/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="<%= data.host %>/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="<%= data.host %>/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="<%= data.host %>/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="<%= data.host %>/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="<%= data.host %>/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="<%= data.host %>/libs/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="<%= data.host %>/libs/dist/js/demo.js"></script>
    <!-- page script -->
    <!-- custom -->
    <script>
      $(function () {
        $('#users').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
  </body>
</html>
<script type="text/javascript">
  $("#add_video").on("click", function() {
    $("#addVideo").modal('show');
  });
</script>
